/* Гірявенко Олексій Васильович 0504716006 martmarchmartmarch@gmail.com */
body {
    background-color: rgb(242, 242, 155);
    color: blue;
}

h1 {
    font-size: 40px;
}

div {
    font-size: 40px;
}

input {
    font-size: 34px;
}